{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <a href="{% url 'profile' %}">Regresar</a>
    <section id="form-section">
        <h2>Añadir {{ item_type }}</h2>
        <form method="post" class="profile-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form__button--container">
                <button type="submit" class="form-button secondary-button"><span>Crear</span></button>
            </div>
        </form>
    </section>
{% endblock %}