{% extends "base.html" %} 
{% load static %} 
{% block styles %} 
    {{ form.media.css }}     
{% endblock styles %}

{% block content %}
<section id="form-section" class="profile-form-section">
    <h2>{% if mode == "create" %}Crea tu perfil profesional{% else %}Mi perfil profesional{% endif %}</h2>
    <form method="post" class="profile-form">
        {% csrf_token %}
        <div class="form__input--container">
            {{ form.area.label_tag }}
            {{ form.area }}
            {{ form.area.errors }} 
        </div>
        <div class="form__input--container">
            {{ form.bio.label_tag }}
            {{ form.bio }}
            {{ form.bio.errors }}
        </div>
        <div class="form__input--container">
            {{ form.technologies.label_tag }}
            {{ form.technologies }}
        </div>
        <div class="form__options">
            <div class="form__button--container">
                <button type="submit" class="form-button primary-button"><span>{% if mode == "create" %}Crear perfil{% else %}Guardar{% endif %}</span></button>
            </div>
            <a href="{% url 'profile' %}" class="cancel-btn">Cancelar</a>
        </div>
    </form>
</section>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock js %}