.authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 67px - 123px);
    padding: 32px 16px;
}

.authentication-form--container {
    /* width: 100%;
    max-width: 400px; */
    padding: 4px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--soft-primary-color));
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.authentication-form--container .authentication-form--content {
    max-width: 540px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
}

.authentication-form__title {
    font-size: 2rem;
    text-align: center;
}

.authentication-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}

.authentication-form label {
    font-weight: bold;
    color: var(--soft-text-color);
}

.authentication-form input {
    width: 100%;
    padding: 8px 4px;
    border: none;
    border-bottom: 2px solid var(--softer-primary-color);
}

.authentication-form input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}
