@import url('style.css');

.main-section {
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%;
}

.main-section__content {
    padding: 16px;
}

.main-section__welcome {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.main-section__welcome-username {
    color: var(--soft-primary-color);
    font-size: 3rem;
}

.main-section__user-area {
    font-size: 2rem;
    color: var(--soft-text-color);
    margin-bottom: 16px;
    font-style: italic;
    font-weight: normal;
}

.main-section__decor--container {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.main-section__decor {
    width: 100%;
    height: 100%;
    background: url('../images/home-background.png') center/cover no-repeat;
}

#matchingForm p {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    /* background-image: linear-gradient(144deg, var(--soft-primary-color),  var(--primary-color) 50%, var(--soft-primary-color)); */
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--soft-primary-color));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 8px 0;
}

.main-section__form-label {
    font-size: 1.8rem;
}

#id_job_offer {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    height: 55vh;
    resize: vertical;
}

#id_job_offer:focus {
    outline: none;
    border-color: var(--primary-color);
}

.main-section__form-warning {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--soft-text-color);
}

.main-section__form-button {
  background-image: linear-gradient(144deg, var(--soft-primary-color),  var(--primary-color) 50%, var(--soft-primary-color));
  border-radius: 8px;
  font-size: 1.8rem;
  color: white;
  outline: 0;
  border: none;
  padding: 12px 24px;
  transition: background-color 300ms, transform 300ms;
}

.main-section__form-button:hover, .main-section__form-button:active {
  transform: scale(0.98);
}