@import url('style.css');

section {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main__title {
  color: var(--primary-color);
  margin-bottom: 8px;
  font-size: 3.2rem;
  font-family: "Limelight", sans-serif;
  letter-spacing: 2px; 
  text-align: center;
} 

.main__subtitle {
    font-size: 1.8rem;
    text-align: center;
}

section {
  padding: 1.6rem;
}