:root {
    --matched: #1c8f1f;
    --mismatched: #cb2727;
}

/* ------------------- GENERIC ------------------- */
#match-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.report-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    gap: 16px;
}

.report-card {
    padding: 16px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.report-card.matched {
    border: 1px solid var(--matched);
}

.report-card.mismatched {
    border: 1px solid var(--mismatched);
}

.report-title {
    color: var(--soft-text-color);
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.report-title span {
    margin-right: 4px;
}

.report-card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

/* ------------------- OVERALL SCORE ------------------- */

#overall-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overall-score__circle-progress {
    --size: 116px;
    --thickness: 16px;
    --value: 90; 
    --progress-color: var(--soft-primary-color); 
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: conic-gradient(
        var(--progress-color) calc(var(--value) * 1%),
        #e0e0e0 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-progress__inner {
    width: calc(var(--size) - var(--thickness) * 2);
    height: calc(var(--size) - var(--thickness) * 2);
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overall-score__value {
    font-weight: bold;
}

.overall-score__message {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}

/* ------------------- CAREER EXPERIENCE ------------------- */
.career-experience {
    max-width: 992px;
    padding: 32px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.career-experience__label {
    color: var(--matched);
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 1.7rem;
}

.career-experience__cards--container, .career-experience__card {
    display: flex;
    flex-direction: column;
}

.career-experience__cards--container {
    gap: 16px;
}

.career-experience__card {
    gap: 4px;
}

.career-experience__title {
    font-weight: bold;
}

.career-experience__dates {
    color: var(--soft-text-color);
    font-style: italic;
}