{% load static %} 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Professional Matcher {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock styles %}
</head>
<body>
    {% include 'components/navbar.html' %}
    <main>
        {% block content %}{% endblock content %}
    </main>

    {% block js %}{% endblock js %}
</body>
</html>