{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <h2>Bienvenido, {{ user.username }}</h2>

    {% if not user.profile %}
        <p>*¡Recuerda que debes tener un perfil profesional creado para empezar a comparar!</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Analizar</button>
    </form>
    {% if match_results %}
        {% include "report.html" with match_results=match_results %}
    {% endif %}
{% endblock content %}