{% extends "base.html" %} 
{% load static %} 
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
    <section class="main-section">
        <div class="main-section__content">
            <h2 class="main-section__welcome">Bienvenid@, <span>{{ user.username }}</span>!</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Analizar</button>
            </form>
            {% if not user.profile %}
                <p>*¡Recuerda que debes tener un perfil profesional creado para empezar a comparar!</p>
            {% endif %}
        </div>
        <div class="main-section__decor--container">
            <div class="main-section__decor"></div>
        </div>
    </section>
    {% if match_results %}
        {% include "report.html" with match_results=match_results %}
    {% endif %}
{% endblock content %}