{% extends "base.html" %}
{% load static %} 
{% block styles %} <link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock styles %}

{% block content %}
<section>
    <div class="hero">        
        <h1 class="main__title">Professional Matcher</h1>
        <p class="main__subtitle">Analiza ofertas laborales IT y descubre qué tan compatible eres con ellas.</p>
        <img src="" alt=""> 
        <p class="main__subtitle">Optimiza tus postulaciones, adapta tu perfil a cada oportunidad y destaca habilidades relevantes.</p>
    </div>
    {% load cache %}
    {% cache 600 'instructions' %}
    <div class="instructions--container">
        <div class="instructions-cards--container">
            <div class="instruction__card">
                <div class="instruction-icon--container">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#31398E"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M10 9a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M4 8v-2a2 2 0 0 1 2 -2h2" />
                    <path d="M4 16v2a2 2 0 0 0 2 2h2" />
                    <path d="M16 4h2a2 2 0 0 1 2 2v2" />
                    <path d="M16 20h2a2 2 0 0 0 2 -2v-2" />
                    <path d="M8 16a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2" />
                    </svg>
                </div>
                <p class="instruction__title">Regístrate</p>
                <p class="instruction__description">Crea una cuenta para acceder a resultados personalizados.</p>
            </div>
            <div class="instruction__card">
                <div class="instruction-icon--container">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#2f46bc"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
                    <path d="M13 11l1.5 6l1.5 -6" />
                    </svg>
                </div>
                <p class="instruction__title">Crea tu perfil profesional</p>
                <p class="instruction__description">Completa tu perfil profesional con tus habilidades, experiencia y tecnologías dominantes</p>
            </div>
            <div class="instruction__card">
                <div class="instruction-icon--container">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#2f46bc"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M15 13v4" />
                    <path d="M13 15h4" />
                    <path d="M15 15m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" />
                    <path d="M22 22l-3 -3" />
                    <path d="M6 18h-1a2 2 0 0 1 -2 -2v-1" />
                    <path d="M3 11v-1" />
                    <path d="M3 6v-1a2 2 0 0 1 2 -2h1" />
                    <path d="M10 3h1" />
                    <path d="M15 3h1a2 2 0 0 1 2 2v1" />
                    </svg>
                </div>
                <p class="instruction__title">Analiza</p>
                <p class="instruction__description">Compara las descripciones de las ofertas laborales directamente con tu perfil.</p>
            </div>
        </div>
    </div>
    {% endcache %}
</section>
{% endblock content %}