{% extends "base.html" %} 
{% load static %} 
{% block styles %} 
    {{ form.media.css }} 
{% endblock styles %}

{% block content %}
    <a href="{% url 'home' %}">Regresar</a>
    <section id="form-section" class="profile-form-section">
        <h2>Mi perfil profesional</h2>
        <form method="post" class="profile-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form__button--container">
                <button type="submit" class="form-button secondary-button"><span>Crear perfil</span></button>
            </div>
        </form>
    </section>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock js %}