{% extends "base.html" %} 
{% load static %}  

{% block content %}
<h2>Perfil de Usuario</h2>

<section>
    <p>Username: {{ user.username }}</p>
    <p>Correo: {{ user.email }}</p>
    <p>Nombre y apellido: {{ user.first_name }} {{ user.last_name }}</p>
</section>

<section>
    <h3>Perfil Profesional</h3>
    {% if profile %}
        <p>Biografía: {{ profile.bio|default:"No especificada" }}</p>
        <p>Área: {{ profile.area|default:"No especificada" }}</p>
        
        {% if profile.technologies.exists %}
            <p>Tecnologías:
                {% for tech in profile.technologies.all %}
                {{ tech.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <p>Última actualización: {{ profile.updated_at|date:"d/m/Y" }}</p>
    {% else %}
        <p>No hay información de perfil profesional disponible aún.</p>
        <p><a href="#">Crear Perfil Profesional</a></p>
    {% endif %}
</section>

{% endblock content %}