{% extends "base.html" %} 
{% load static %}  

{% block content %}
<h2>Perfil de Usuario</h2>

<section>
    <p>Username: {{ user.username }}</p>
    <p>Correo: {{ user.email }}</p>
    <p>Nombre y apellido: {{ user.first_name }} {{ user.last_name }}</p>
</section>

<section>
    <h3>Perfil Profesional</h3>
    {% if profile %}    
        <p>Biografía:</p>
        {% if profile.bio %}
            <p>{{ profile.bio }}</p>
        {% else %}
            <p>No tienes una biografía todavía.</p>
        {% endif %}

        <p>Área:</p> 
         {% if profile.area %}
            <p>{{ profile.area }}</p>
        {% else %}
            <p>No tienes un área definida todavía.</p>
        {% endif %}

        <p>Tecnologías:</p>
        {% if profile.technologies.exists %}
            <p>
                {% for tech in profile.technologies.all %}
                    {{ tech.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% else %}
            <p>No tienes ninguna tecnología todavía.</p>
        {% endif %}

        <p>Última actualización: {{ profile.updated_at|date:"d/m/Y" }}</p>
        <a href="{% url 'profile_update' %}">Editar perfil profesional</a>
    {% else %}
        <p>Aún no has cargado tu perfil profesional.</p>
        <a href="{% url 'profile_create' %}">Crea tu perfil profesional</a>
    {% endif %}
</section>

{% endblock content %}