<footer>
    <ul class="footer__list">
        <p>Proyecto Open Source de uso personal para desarrolladores en búsqueda activa de empleo 💚</p>
        <li class="footer__item"><span></span><a href="">Repositorio en GitHub</a></li>
    </ul>
    <ul class="footer__list developer">
        <p class="footer__developer-name">Carina Payleman @ Web Developer</p>
        <li class="footer__item"><span></span><a href="">LinkedIn</a></li>
        <li class="footer__item"><span></span><a href="">GitHub</a></li>
    </ul>
</footer>