<nav>
    {% if user.is_authenticated %}
        <a href="{% url 'home' %}" class="navbar__brand">Professional Matcher</a>
        <ul class="navbar__list">
            <li class="navbar__item"><a href="{% url 'home' %}">Inicio</a></li>
            <li class="navbar__item"><a href="{% url 'profile' %}">Tu Perfil Profesional</a></li>
            <li class="navbar__item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="navbar__item navbar__item--logout">Cerrar sesión</button>
                </form>
            </li>
        </ul>
    {% else %}
        <a href="{% url 'home' %}" class="navbar__brand">Professional Matcher</a>
        <ul class="navbar__list">
            <li class="navbar__item"><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li class="navbar__item"><a href="{% url 'register' %}">Registrarse</a></li>
        </ul>
    {% endif %}
</nav>