<nav>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'home' %}">Inicio</a>
                    <a href="{% url 'profile' %}">Perfil</a>
                    <button type="submit">Cerrar sesión</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>