{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock styles %}
{% block content %}
    <section class="authentication">
        <div class="authentication-form--container">
            <div class="authentication-form--content">
                <h2 class="authentication-form__title">Inicia sesión</h2>
                <form method="post" class="authentication-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form__button--container">
                        <button type="submit" class="form-button primary-button">
                            <span>Inicia sesión</span>                        
                        </button>
                    </div>
                </form>
                <p class="form__link">¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
            </div>
        </div>
    </section>
{% endblock %}