{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock styles %}
{% block content %}
    <section class="authentication">
        <div class="authentication-form--container">
            <div>
                <h2 class="authentication-form__title">Regístrate</h2>
                <form method="post" class="authentication-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Registrarse</button>
                </form>
                <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
            </div>
        </div>
    </section>
{% endblock content %}